@font-face {
  font-family: "Cabinet Grotesk";
  src: "vendor/Fonts/CabinetGrotesk-black.woff";
}

.header {
  display: flex;
  max-height: 80px;
  justify-content: space-between;
  margin: 25px 40px;
  position: relative;
  font-family: "Cabinet Grotesk";
 

}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__logo img{
  width: 50px;
  height: auto;
}

.header__nav {
  display: flex;
  gap: 20px;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin-left: auto;
  font-family: "Cabinet Grotesk";
  font-weight: bold;
}


.nav__button {
  background: none;
  border: 5px;
  cursor: pointer;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: black;
}

.signUp__button {
  border: 2px solid rgba(47, 113, 229, 1);
  background-color: white;
  border-radius: 25px;
  padding: 18px 32px;
  font-size: 18px;
  height: 60px;
  margin-left: 40px;
  font-family: "Cabinet Grotesk";
  font-weight: bold;
}

.nav__button:hover {
  text-decoration: underline;
  text-underline-offset: 30px;
}

.signUp__button:hover {
  background-color: rgba(47, 113, 229, 1);
}

@media screen and (min-width: 641px) {
  .hamburger-menu {
    display: none;
  }

  .signUp__button {
    margin-right: 40px; 
  }
}

@media screen and (max-width: 640px) {
  .header {
    flex-direction: row;
    align-items: center;
  }

  .nav__button {
    display: none;
  }

  .nav-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px; /* Adjust the top value as needed */
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .nav-show .nav__button {
    display: block;
    margin-bottom: 10px;
  }

  .nav-show .hamburger-menu {
    display: none;
    z-index: 1;
  }

.signUp__button {
  border: none;
  padding: 10px 10px;
}


}

